.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container header {
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 814px;
  background-image: url("./assets/header-background.png");
}

.container header div {
  padding-top: 230px;
  margin: 0 auto;
  max-width: 750px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container header div h1 {
  font-size: 60px;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
  color: #99999a;
}

.container header div img {
  max-width: 60px;
  min-height: 60px;
  padding-bottom: 43px;
}

.container header div button {
  font-size: 16px;
  font-family: '800', sans-serif;
  background: #ff6d6d;
  width: 195px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  border: 0.1px;
  color: #FFFFFF;
  background-size: cover;
  margin-bottom: 20px;
}

.container header div h3 {
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  color: #767678;
}

.container .new-design {
  min-height: 725px;
  display: flex;
}

.container .new-design div {
  flex: 61%;
  flex-shrink: 3;
}

.container .new-design div div {
  max-width: 570px;
  margin: 0 auto;
  margin-top: 91px;
}

.container .new-design div div h3 {
  color: #ff6d6d;
  font-size: 16px;
}

.container .new-design div div h2 {
  font-size: 40px;
  padding-bottom: 58px;
}

.container .new-design div div h2 span {
  color: #ff6d6d;
}

.container .new-design div div p {
  font-size: 16px;
}

.container .new-design .new-design-background {
  background-position: center;
  flex: 39%;
  background-image: url("./assets/bg_second-section.png");
}

.container .new-features {
  background-size: cover;
  background-position: center;
  width: 100%;
  background-image: url("./assets/pots.png");
}

.container .new-features .new-features-container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 675px;
  position: relative;
}

.container .new-features .new-features-container .new-features-container__title {
  color: #ff6d6d;
  text-align: center;
  padding-top: 136px;
  padding-bottom: 17px;
  font-size: 16px;
}

.container .new-features .new-features-container .new-features-container__sub-title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 96px;
}

.container .new-features .new-features-container .new-features-container-content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.container .new-features .new-features-container .new-features-container-content .content-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container .new-features .new-features-container .new-features-container-content .content-item img {
  width: auto;
  height: 70px;
  text-align: center;
  padding-bottom: 6px;
}

.container .new-features .new-features-container .new-features-container-content .content-item h2 {
  font-size: 22px;
  padding-bottom: 10px;
}

.container .new-features .new-features-container .new-features-container-content .content-item h3 {
  color: #99999a;
  font-size: 16px;
}

.container .new-features .new-features-container .new-features-container__img {
  position: absolute;
  top: 2px;
  right: 50px;
}

.container .clients div {
  min-height: 550px;
  display: flex;
  align-items: center;
}

.container .clients div .clients-img-container {
  flex: 1;
}

.container .clients div .clients-inner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container .clients div .clients-inner-container h3 {
  color: #ff6d6d;
  font-size: 16px;
}

.container .clients div .clients-inner-container h2 {
  font-size: 40px;
  padding-bottom: 58px;
}

.container .clients div .clients-inner-container h2 span {
  color: #ff6d6d;
}

.container .clients div .clients-inner-container p {
  font-size: 16px;
  color: #99999a;
  max-width: 420px;
}

.container .description .description-container {
  background-size: cover;
  background-position: center;
  min-height: 650px;
  background-image: url("./assets/desc-bg2.png");
}

.container .description .description-container .inner-container-top {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.container .description .description-container .inner-container-top .top-item {
  padding: 114px 0 105px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container .description .description-container .inner-container-top .top-item img {
  padding-bottom: 20px;
}

.container .description .description-container .inner-container-top .top-item h2 {
  font-size: 22px;
  color: #ffff;
}

.container .description .description-container .inner-container-top .top-item h3 {
  font-size: 16px;
  color: #ff6d6d;
  padding-bottom: 30px;
}

.container .description .description-container .inner-container-top .top-item p {
  font-size: 16px;
  color: #c8c9ca;
}

.container .description .description-container .inner-container-bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.container .browser {
  background: #f6f5f3;
}

.container .browser .browser-container {
  min-height: 755px;
}

.container .browser .browser-container .browser-inner-container {
  padding-top: 105px;
  max-width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container .browser .browser-container .browser-inner-container h2 {
  font-size: 16px;
  color: #ff6d6d;
  padding-bottom: 20px;
}

.container .browser .browser-container .browser-inner-container h3 {
  font-size: 40px;
  padding-bottom: 50px;
}

.container .browser .browser-container .browser-inner-container p {
  font-size: 16px;
  color: #c8c9ca;
  padding-bottom: 110px;
  max-width: 670px;
  text-align: center;
}

.container .try-now {
  background: #323969;
}

.container .try-now .try-now-container {
  min-height: 470px;
  max-width: 1140px;
  padding-top: 97px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.container .try-now .try-now-container h2 {
  font-size: 16px;
  color: #ff6d6d;
  padding-bottom: 30px;
}

.container .try-now .try-now-container h3 {
  font-size: 40px;
  padding-bottom: 42px;
  color: white;
}

.container .try-now .try-now-container .try-now-container-top-block {
  display: inline-flex;
  padding-right: 45px;
  max-width: 230px;
  align-self: flex-end;
  color: white;
}

.container .try-now .try-now-container .try-now-container-top-block h3 {
  margin-left: -20px;
  font-size: 18px;
}

.container .try-now .try-now-container .try-now-container-bottom-block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 55px;
}

.container .try-now .try-now-container .try-now-container-bottom-block input {
  margin: 0 15px;
  width: 25%;
  min-height: 44px;
  border: #FFFFFF solid 0.5px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 25px;
  background: #464c77;
}

.container .try-now .try-now-container .try-now-container-bottom-block input::placeholder {
  color: #FFFFFF;
}

.container .try-now .try-now-container .try-now-container-bottom-block .bottom-block-input--red {
  background: #ff6d6d;
}

.container .try-now .try-now-container .browser-inner-container__agreement {
  font-size: 16px;
  color: #a8aabc;
}

.container .try-now .try-now-container .browser-inner-container__agreement a {
  font-size: 16px;
  color: #a8aabc;
  cursor: pointer;
}

.container footer .footer-bg {
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 90%;
  z-index: -1;
}

.container footer .footer-background {
  position: relative;
}

.container footer .footer-background .footer-container {
  padding: 90px 0 100px 0;
  max-width: 953px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}

.container footer .footer-background .footer-container .footer-container-item {
  display: flex;
  flex-direction: column;
}

.container footer .footer-background .footer-container .footer-container-item ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container footer .footer-background .footer-container .footer-container-item li {
  font-size: 14px;
  color: #8a8a8a;
  padding-bottom: 6px;
}

.container footer .footer-background .footer-container .footer-container-item .footer-container-item__sub-title {
  font-size: 14px;
  color: #8a8a8a;
  padding-bottom: 6px;
}

.container footer .footer-background .footer-container .footer-container-item .footer-container-item__title {
  font-size: 22px;
  padding-bottom: 20px;
}

.container footer .footer-background .footer-container .footer-container-item .item-block {
  display: inline-flex;
  align-items: center;
}

.container footer .footer-background .footer-container .footer-container-item .item-block h2 {
  padding: 0;
  font-size: 22px;
}

.container footer .footer-background .footer-container .footer-container-item .item-block img {
  height: 44px;
  width: 44px;
}

.container footer .footer-background .footer-container .footer-container-item p {
  text-align: left;
  font-size: 16px;
  max-width: 225px;
  color: #8a8a8a;
}

.container footer .footer-background .footer-container .footer-container-item .item-block-top {
  display: flex;
  padding-bottom: 14px;
}

.container footer .footer-background .footer-container .footer-container-item .item-block-top input {
  max-width: 212px;
  background-color: #f6f6f6;
  border: 1px solid #949494;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 25px;
}

.container footer .footer-background .footer-container .footer-container-item .item-block-top img {
  max-width: 53px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.container footer .footer-background .footer-container .footer-container-item .item-block-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 155px;
  margin: 0 auto;
}
