h3 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 814px;
  background-image: url("./Images/header-background.png");
}

.header-container {
  padding-top: 230px;
  margin: 0 auto;
  max-width: 750px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container__title {
  font-size: 60px;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
}

.header-container__img {
  max-width: 60px;
  min-height: 60px;
  padding-bottom: 43px;
}

.header-container__btn {
  font-size: 16px;
  font-family: '800', sans-serif;
  background: #ff6d6d;
  width: 195px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  border: 0.1px;
  color: #FFFFFF;
  background-size: cover;
  margin-bottom: 20px;
}

.header-container__sub-title {
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  color: #767678;
}

.section2 {
  min-height: 725px;
  display: flex;
}

.section2-content-container {
  flex: 61%;
}

.innner-container__title {
  color: #ff6d6d;
  font-size: 16px;
}

.innner-container__sub-title {
  font-size: 40px;
  padding-bottom: 58px;
}

.innner-container__text {
  font-size: 16px;
}

.section2-img-container {
  flex: 39%;
}

.innner-container {
  max-width: 570px;
  margin: 0 auto;
  margin-top: 91px;
}



.section3 {
  background-size: cover;
  background-position: center;
  width: 100%;
  background-image: url("./Images/pots.png");
}

.section3-container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 675px;
  position: relative;
}

.section3-container__title {
  color: #ff6d6d;
  text-align: center;
  padding-top: 136px;
  padding-bottom: 17px;
  font-size: 16px;
}

.section3-container__sub-title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 96px;
}

.section3-container-content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.section3-container__img {
  position: absolute;
  top: 2px;
  right: 50px;
}

.content-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content-item__img {
  width: 70px;
  height: 70px;
  text-align: center;
}

.content-item__title {
  font-size: 22px;
}

.content-item__text {
  font-size: 16px;
}


.clients {}

.clients-container {
  min-height: 550px;
  display: flex;
  align-items: center;
}

.clients-img-container {
  flex: 1;
}

.clients-inner-container {
  flex: 1;
}

.description {}

.description-container {
  background-size: cover;
  background-position: center;
  min-height: 650px;
  background-image: url("./Images/desc-bg2.png");
}

.inner-container-top {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.top-item {
  padding: 114px 0 105px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.top-item__img {
  padding-bottom: 20px;
}

.top-item__title {
  font-size: 22px;
  color: #ffff;
}

.top-item__sub-title {
  font-size: 16px;
  color: #ff6d6d;
  padding-bottom: 30px;
}

.top-item__text {
  font-size: 16px;
  color: #c8c9ca;
}

.inner-container-bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.browser {
  background: #f6f5f3;
}

.browser-container {
  min-height: 755px;
}

.browser-inner-container {
  padding-top: 105px;
  max-width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.browser-inner-container__title {
  font-size: 16px;
  color: #ff6d6d;
  padding-bottom: 20px;
}

.browser-inner-container__sub-title {
  font-size: 40px;
  padding-bottom: 50px;
}

.browser-inner-container__text {
  font-size: 16px;
  color: #c8c9ca;
  padding-bottom: 110px;
  max-width: 670px;
  text-align: center;
}


.try-now {
  background: #323969;
}

.try-now-container {
  min-height: 470px;
  max-width: 1140px;
  padding-top: 97px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.try-now-container__title {
  font-size: 16px;
  color: #ff6d6d;
  padding-bottom: 30px;
}

.try-now-container__sub-title {
  font-size: 40px;
  padding-bottom: 42px;
  color: white;
}

.try-now-container-trial-top-block {
  display: inline-flex;
  padding-right: 45px;
  max-width: 230px;
  align-self: flex-end;
  color: white;
}

.top-block-text {
  margin-left: -20px;
}

.try-now-container-trial-bottom-block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 55px;
}

.bottom-block-input {
  margin: 0 15px;
  width: 25%;
  min-height: 44px;
  border: #FFFFFF solid 0.5px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 25px;
  background: #464c77;
}

.bottom-block-input::placeholder {
  color: #FFFFFF;
}

.bottom-block-input--red {
  background: #ff6d6d;
}

.browser-inner-container__agreement {
  font-size: 16px;
  color: #a8aabc;
}

.link {
  font-size: 16px;
  color: #a8aabc;
  cursor: pointer;
}


.footer-background{
  position: relative;
}

.footer {}

.footer-container {
  padding: 90px 0 100px 150px;
  max-width: 953px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.footer-bg {
  right: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: auto;
  height: 90%;
}

.footer-container-item {
  display: flex;
  flex-direction: column;
}

.item-block {
  display: inline-flex;
  align-items: center;
}

.item-block__img {
  height: 44px;
  width: 44px;
}

.item-block-text {
  text-align: left;
  font-size: 16px;
  max-width: 225px;
}

.footer-container-item__title--no-padding{
padding: 0;
font-size: 22px;
}

.footer-container-item__title {
  font-size: 22px;
  padding-bottom: 20px;
}

.footer-container-item__sub-title {
  font-size: 14px;
  color: #8a8a8a;
  padding-bottom: 6px;
}


.item-block-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 155px;
  margin: 0 auto;
}

.item-block-top {
  display: flex;
}

.item-block-top-input {
  max-width: 212px;
  background-color:#f6f6f6;
  border: 0.5px solid #949494;
  border-radius: 5px;
  padding-left: 25px;
}

.item-block-top-input::placeholder {
  color: #949494;
}

.item-block-top-btn {
  max-width: 53px;
}

@media screen and (max-width: 1300px) {
  .footer-container {
    padding: 90px 0 100px 0px;
  }
}